<h3>Statements</h3>
A single line of code. Always ends with a semi-colon;

Within Grammar.
The definition of the symbol ; used in writing between two parts of a sentence, usually when each of the two parts could form grammatical sentences on their own.
Each line we write will work on its own. So to add more lines of code we state there is more to the part we are developing by informing with use of a semi-colon;.

The semi-colon informs the browser to compute what we have stated, and also says 'wait, there more.'

Perform this statement and more on once it is computed, go to the next line.

Line by line. Like we read books.

#header {
    color: white;
    background-color: black;
}


<h3>Comments</h3>
Developers comment code explaining what is happening. <strong>This is best practise.</strong>

Use comments to explain what is happening. Write comments as if you are explaining to someone what is happening.
These comments will help you immensly when you come back to modify the code. In time you may return to the website and are unable to recall why you have done what you have done.
This is Best Practise as working within a team environment, another developer may need to add to the functionality you have created.
You may be working on another project at the time, or it may be revisited once you have gone.

Example of developer fun

Example; find the following.
Comments of Taylor Otwell - Laravel.

Develop with fun.
